/*DISEÑO CSS PARA VISTA DEL LOGIN*/

.ContLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.ContLogin .icon{
    position: relative;
    left: 8%;
    width: 20px;
    height: 20px;
    margin: 0;
}

.IconVerContra{
    position: relative;
    right: 8%;
    width: 22px;
    height: 22px;
    margin: 0;
}


.password-olvido a{
    text-decoration: none;
    display: flex;
    font-size: 15px; 
    justify-content: end;
    margin-top: 5px;
    margin-bottom: 35px;
    margin-right: 13.5%;
}



/*-------------- Tamaño de los campos de texto---------*/
.ContLogin input{
    width: 78%;
    padding: 8px 55px; 
    height: 50px;
    max-height: 60%; 
}


/*--------------FIN- Tamaño de los campos de texto---------*/

#boton-ingresar{
    padding: 7px 55px;
    background-color: rgb(78, 100, 124, 90%);
    color: rgb(221, 222, 224);
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    height: 40px;
    max-height: 25%;
    border: none;
    margin: auto;
    transition: background-color .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}


#boton-ingresar:hover{
    cursor: pointer;
    background-color: rgb(61, 70, 79);
}

#boton-ingresar:focus{
    background-color:rgb(221, 222, 224);
    color: rgb(78, 100, 124, 90%);
}

.registarse a{
    text-decoration: none;
}

.registarse p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.User{
    padding: 5px;
    margin: 5px;
}

.Contra{
    position: relative;
    left: 2%;
    padding: 5px;
    margin: 5px;
}

@media (max-width: 1024px){
    body > div > div > div.d-none.d-md-block.col-md-6.p-0.d-flex.justify-content-center.align-items-center{
        display: none;
        width: 0;
    }

    body > div > div > div.col-sm-12.col-md-6.FormBack.d-flex.justify-content-center.align-items-center{
        width: 80vw;
        margin: 0 auto;
    }

}


@media (max-width: 600px){
    body > div > div > div.col-sm-12.col-md-6.FormBack.d-flex.justify-content-center.align-items-center{
        width: 100vw;
        margin: 0 auto;
    }
}