@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@600&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';

}


.principal {
    height: 86vh;
    width: 57vw;
    overflow: hidden;
}

#publicacion__fecha{
    font-size: 0.75rem;
}
.mover{
    animation: mostrar .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes mostrar {
    0%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(0.7);
        
    }
}

.pantalla-completa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}

.imagen-en-pantalla{
    height: 80%;
    width: 80%;
    object-fit: cover;
}

.historia {
    width: 100%;
    /*height: 16%;*/
    height: 110px;
    /* Oculta cualquier contenido que se salga del contenedor */
    overflow-x: auto;
    border-bottom: 2px solid #8EAAB8;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.perfil {
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    width: 95%;
}

.perfil__usuario {
    padding-right: 4%;
    height: 100%;
    align-items: center;
    margin-left: auto;
}

.perfil__imagen {
    width: 55px;
    height: 55px;
    margin: 0 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    /* Escala la imagen para cubrir el círculo sin distorsión */
    object-fit: cover;
    /* Crea el borde degradado infinito */
    background: linear-gradient(to right, #067ff0, #02223f);
    /* Ancho al 200% para hacerlo infinito */
    background-size: 200% 100%;
    /* Inicia la posición desde la izquierda */
    background-position: -100% 0;
    animation: desplazamiento 2s linear infinite;
}

@keyframes desplazamiento {
    0% {
        /* Inicia desde la derecha */
        background-position: 200% 0;
    }

    100% {
        /* Regresa a la izquierda */
        background-position: -100% 0;
    }
}

.publicacion {
    height: 52%;
    background-color: #fff;
    position: relative;
}

.accion {
    height: 5%;
    align-items: center;
    justify-content: center;
}

.accion__imagen{
    width: 24px;
    height: 24px;
}
.accion__opcion {
    width: 30%;
    justify-content: space-between;
}

.publicacion__descripcion {
    height: 28%;
    width: 40%;
    margin: 0 auto;
}

.publicacion__encabezado {
    height: 35%;
    width: 100%;
    margin: 0;
    padding: 0;
}



.encabezado__cuenta {
    margin-right: auto;
}

.perfil__usuario {
    flex-direction: column;
    text-align: center;
    padding: 0 2px;
}

.texto__publicacion{
    overflow: hidden;
}
#usuario__perfil {
    flex-direction: row;
}


.animacion__megusta{
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 42%;
    width: 18%;
    height: 40%;
    display: none;
}

.mostrar__megusta{
    display: block;
    animation: aparecer 1s ease-in;
}

@keyframes aparecer {
    0%{
        opacity: 1;
        visibility: visible;
        transform: translateY(15%)
        
    }

    100%{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-15%)
    }
}

#me-gusta-relleno, #guardados-relleno{
    display: none;
}

#me-gusta-relleno, #guardados-relleno{
    animation: mover 1s ease-in-out;
}

@keyframes mover {
    0%{
        transform: scale(1.1) translateY(-5%);
    }
    100%{
        transform: scale(1) translateY(5%);
    }
}

.texto__publicacion {
    color: #131416;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
}

.publicacion__encabezado__izquierda {
    width: 70%;
    align-items: center;
    margin-right: auto;
}

.publicacion__encabezado__derecha {
    margin-left: auto;
    align-self: center;
}

.publicacion__tarjeta {
    width: 100%;
    height: 100%;
    /*centra las cajas vertical y horizontal*/
    align-items: center;
    justify-content: center;
}

.tarjeta__imagen {
    background-color: #ddd;
    width: 60%;
    height: 50%;
    border-radius: 4%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}


.publicacion.contenedor>div:nth-child(3)>img,
.publicacion.contenedor>div:nth-child(5)>img {
    opacity: 0.7;
}

.publicacion.contenedor>div:nth-child(3)>img:hover,
.publicacion.contenedor>div:nth-child(5)>img:hover {
    transform: scale(1.1);
    opacity: 1;
    z-index: 1;
    
}

/*#tarjeta__atras{
    transform: translateX(-50%) scale(0.7);
}

#tarjeta__siguiente{
    transform: translateX(50%) scale(0.7);
}*/

#tarjeta__seleccionada {
    /*hace que la imagen sobre sale por encima de la caja*/
    position: absolute;
    max-width: 40%;
    max-height: 85%;
    width: 40%;
    height: 85%;
    opacity: 1;
}

.texto__historia{
    overflow: hidden;
}

.flecha__atras {
    position: absolute;
    justify-self: center;
    z-index: 1;
    left: 25.5%;
    top: 43%;
    opacity: 1;
}

.flecha__atras:hover,
.flecha__siguiente:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}


.flecha__siguiente {
    position: absolute;
    justify-self: center;
    z-index: 1;
    left: 70%;
    top: 43%;
    opacity: 1;
}

.mover-atras{
    animation: mostrar .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes mostrar {
    0%{
        transform: scale(0.5);
        
    }

    100%{
        transform: scale(0.7);
        
    }
}

.mover-siguiente{
    animation: mostrar .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes mostrar {
    0%{
        transform: scale(0.5);
    }

    100%{
        transform: scale(0.7);
        
    }
}

.nombre__cuenta {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #131416;
}

.publicacion__interaccion{
    justify-content: space-between;
}

.contenido__texto {
    height: 2%;
}

.etiqueta__opaco {
    color: rgba(19, 20, 22, 0.60);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.perfil__sesion{
    background-color: #777;
}
.publicacion__perfil {
    width: 40px;
    height: 40px;
    min-width: 32px;
    min-height: 32px;
}

.tarjeta__siguiente, .tarjeta__atras{
    opacity: 0.7;
}

.navegacion-movil{
    display: none;
}

@media (max-width: 1024px){
    
    .publicacion.contenedor>div:nth-child(3)>img,
    .publicacion.contenedor>div:nth-child(5)>img {
        display: none;
    }

  
    .flecha__atras{
        left: 4%;
    }

    .historia{
        height: 14%;
        width: 100%;
    }

    .flecha__siguiente{
        left: 91%;
    }

    .principal{
        width: 92vw;
    }

    #tarjeta__seleccionada, .publicacion__descripcion{
        width: 80%;
        max-width: 80%;
    }

    
    .animacion__megusta{
        width: 28%;
        left: 38%;
    }

    .accion__opcion{
        width: 50%;
    }
}

@media (max-width: 600px){
    /*Medidas de height 
    encabezado 9% 
    principal 91%
    el principal se divide en 
    publicacion descripcion 25%
    navegacion movil 7%
    tarjeta seleccionada 75%
    accion 4%

    */
    #tarjeta__seleccionada, .publicacion__descripcion{
        max-width: 90%;
    }

    #tarjeta__seleccionada{
        height: 75%;
    }
    
    .accion{
        height: 4%;
    }

    .flecha__atras{
        left: 1%;
    }

    .flecha__siguiente{
        left: 89%;
    }

    .animacion__megusta{
        width: 36%;
        left: 32%;
    }

     .principal{
        width: 100vw;
        height: 91vh;
    }

    .publicacion__descripcion{
        height: 23%;
        
    }

    .historia{
        height: 15%;
        
    }

    .perfil__imagen{
        height: 48px;
        width: 48px;
    }

    .texto__historia{
        font-size: .8rem;
    }
    .nav-movil{
        width: 80%;
        margin: auto;
        justify-content: space-between;
    }

    .navegacion-movil{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #4C596C;
        justify-content: space-between;
        padding-bottom: 4px;
        height: 7%;
        width: 100vw;
    }

    .etiqueta__opaco{
        font-size: 0.7rem;
    }

    #publicacion__fecha{
        font-size: 0.6rem;
    }

    .publicacion__perfil{
        width: 32px;
        height: 32px;
    }

    .nombre__cuenta{
        font-size: 0.9rem;
    }

    .texto__publicacion{
        line-height: 0.9;
    }

}